body {
    background:
    radial-gradient(gray 3px, transparent 4px),
    radial-gradient(white 3px, transparent 4px),
    linear-gradient(black 4px, transparent 0),
    linear-gradient(45deg, transparent 74px, transparent 75px, #a4a4a4 75px, #a4a4a4 76px, transparent 77px, transparent 109px),
    linear-gradient(-45deg, transparent 75px, transparent 76px, #a4a4a4 76px, #a4a4a4 77px, transparent 78px, transparent 109px),
    black;
    background-size: 109px 109px, 109px 109px,100% 6px, 109px 109px, 109px 109px;
    background-position: 54px 55px, 0px 0px, 0px 0px, 0px 0px, 0px 0px;
    color:white;
}

.forms {
    display: none;
    *text-align: center;
}

#form0 {
    display: block;
}

.language {
    display: none;
    text-align: center;
    border: 1px solid white;
    background-color: teal;
    margin-top: 50px;
}

.forms input[type="radio"] {
    opacity: 0;
    *position: fixed;
    width: 0;
}

.forms label {
    background-color: linen;
    padding: 10px 20px;
    *font-family: sans-serif, Arial;
    *font-size: 16px;
    border: 2px solid #444;
    border-radius: 4px;
    color: black;
    width: 300px;
    cursor: pointer;
}

.forms h1 {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 0px;
    padding-top: 20px;
    padding-bottom: 20px;
    width: auto;
    background-color: black;
    *border: 1px solid white;
}

input[type="radio"]:checked + label {
    background-color: green;
}

.result {
    margin-bottom: 20px;
}

.language p {
    font-size: 20px;
    text-align: justify;
    padding: 10px;
}

.language a {
    color: DarkBlue;
    font-size: 25px;
    padding-bottom: 20px;
}

.code {
    background-color: black;
    color: white;
    border: 1px solid white;
    width: 75%;
}